<html>
        <head>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_tracking_id = "pasivlogs-20";
                amzn_assoc_ad_mode = "manual";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_linkid = "a2262207dfa2c72bf28005627f4020ff";
                amzn_assoc_design = "in_content";
                amzn_assoc_asins = "B00EI7DPI0,B00NGV4506";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </head>
        <body>
            <p>sdfd</p>
        </body>
</html>